ul li{list-style: none;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
}
.content{
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;

}

.header{
    margin-bottom: 48px;
}

.header__title{
    margin: 63px 0 38px 0;

}
.header__link{
    display: block;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}

.header__title_logo{
    color: #4BCAFF;
}
.menu{

}

.menu_list{
    padding: 0;
    display: flex;
    justify-content: space-between;
    
}
.left_menu_list{
    padding: 0;
    margin: 0;
}
.menu_item {
    display: flex;
    align-items: center;
    background: #35444F;
    text-align: center;
    justify-content: center;

}
.menu_item:first-child{
    width: 150px;
}
.menu_item:last-child{
    width: 150px;

}

.menu_link{
    padding: 26px 35px 19px;
    font-size: 24px;
    line-height: 28px;
    color: white;  
}
.menu_link:hover {
    background: #222F3A;  
}
.content1 {
	margin: 48px 0 0 0;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	width: 1280px;
}
.main-img { 
    width: 885px;
    height: 529px;
    margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
    border: 1px solid #000000;
    
}
.img {
	width: 320px;
    height: 381px;
    transition: 0.25s;
}
.img:hover{
    transform: scale(1.2);
}
.left_menu {
    margin: 0;
	width: 344px;
    height: 399px;

}
.left_menu_list {
	border: 1px solid #000000;
}
.left_menu_item{
    display: flex;
	flex-direction: column;
    justify-content: space-around;

}

.left_menu_link{
    display: block;
    padding: 25.5px;
    font-size: 27px;
    line-height: 28px;
    color: #485863;
   
}
.left_menu_item:hover{

    background: #DBDBDB;
}
.left_menu_link:hover{
    display: block;
    padding-left: 60px;
    color: black;
}

.text p{
    display: block;
    margin: 37px 0px 54px auto;
    max-width: 885px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.footer_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
}
.footer_menu_list {
    width: 875px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-around
}



.footer_menu_link {
    font-size: 28px;
    line-height: 28px;
    display: block;
    text-align: center;
    color: #000000;

}
.footer_text {

    font-size: 24px;
    line-height: 24px;

}
.footer_menu_link:hover{
    text-decoration: underline;
    color: #3181A6;
   

}